*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Mulish", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.cursor{
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
    font-weight: bold;
    line-height: 23px;
}

.header{
    margin: 20px 70px 50px 32px;
    display: flex;
    align-items: center;
}

.menu-button{
    width: 20px;
    height: 17px;
    text-decoration: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 0;
    margin-right: 28px;
}

.line-menu{
    display: block;
    background-color: #1F2022;
    width: 20px;
    height: 3px;
    border-radius: 20px;
}

.logo{
    margin-right: 59px;
}

.input-group{
    background-color: #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 22px;
    padding-right: 13px;
}

.input-search{
    background-color: transparent;
    border: none;
    width: 830px;
    height: 44px;
    color: #30384C;
    opacity: 0.4;
    font-size: 16px; 
    padding: 12px 0 12px 23px;
}

.button-search{
    width: 18px;
    height: 18px;
    border: none;
    background-image: url(../img/Shape.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
}

.icons{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.dots{
    margin: 0 50px 0 50px;
}

.ring{
    margin-right: 50px;
}

.sidebar{
    margin-left: 30px;
}

.nav{
    margin-bottom: 58px;
}

.navbar{
    list-style: none;
    padding: 0;
    margin: 0;
}

.first-navbar{
    margin-bottom: 60px;
}

.nav-link{
    text-decoration: none;
    color: #898989;
    display: flex;
    align-items: center;
}

.nav-link:hover{
    color: #FF0000;
}

.nav-link:hover .icon{
    fill: #FF0000;
}

.icon{
    margin-right: 13px;
    fill: #898989;
}

.nav-item{
    margin-bottom: 28px;
}

.subscriptions{
    margin-bottom: 104px;
}

.h2{
    margin-bottom: 30px;
}

.people-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.people-link{
    text-decoration: none;
    color: #898989;
    display: flex;
    align-items: center;
}

.people-img{
    margin-right: 10px;
}

.human{
    margin-bottom: 23px;
}

.settings{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}

.settings-link{
    text-decoration: none;
    color: #898989;
    display: flex;
    align-items: center;
}